#landing-page {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  --header-height: 70px;
  padding-top: var(--header-height);
}
#landing-page header {
  position: fixed;
  top:   0;
  left:  0;
  right: 0;
  z-index: 1;
  height: var(--header-height);
  --max-header-width: 1370px;
  background: white;
  padding-left:  35px;
  padding-right: 35px;
  display: flex;
  align-items: center;
}
#landing-page header a {
  color: black;
  text-decoration: none;
  margin-left:  15px;
  margin-right: 15px;
}
#landing-page header a:hover {
  color: var(--teal);
}
#landing-page header button {
  background: var(--teal);
  color: white;
  height: 40px;
  min-height: 40px;
  min-width: 170px;
  font-size: 14px;
  margin-left: 10px;
}
#landing-page header button:hover {
  background: var(--teal-highlight);
}
#landing-page h1 {
  font-size: 25px;
  margin-right: auto;
}
#landing-page h2 {
  font-size: 39.6px;
  margin-top:    15px;
  margin-bottom: 15px;
}
#landing-page p {
  font-size: 18px;
  line-height: 1.75;
  margin-top:    10px;
  margin-bottom: 10px;
}
#landing-page section {
  width: 500px;
  min-height: 500px;
  height: calc(100vh - 200px);
  padding: 30px;
  flex-grow: 1;
  box-sizing: border-box;
}
#landing-page button {
  font-weight: bold;
  min-width: 250px;
  min-height: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left:  30px;
  padding-right: 30px;
  font-size: 18px;
}
#landing-page button:active {
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 5px #00000061;
}

section#intro {
  background: var(--ocean);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#intro h2 {
  font-size: 34px;
}
section#intro > * {
  width: 450px;
  max-width: calc(100vw - 75px);
  margin-left:  auto;
  margin-right: auto;
}
section#intro button {
  background: #bed1d7;
  color: var(--ocean);
  display: inline-block;
}
section#intro button:hover {
  background: #d6eaf1;
}

section#preview {
  background: var(--secondary-petrol);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:     center;
}
section#preview img[src="screenshot.png"] {
  width: 80%;
  margin: 20px;
  box-shadow: 5px 8px 35px rgba(0, 0, 0, 0.4);
}
section#preview button {
  background: var(--teal);
  color: white;
}
section#preview button:hover {
  background: var(--teal-highlight);
}

section#csv-instructions {
  height: auto;
  width: 100vw;
}
section#csv-instructions h2 {
  text-align: center;
}
section#csv-instructions > div {
  display: flex;
  margin-top:    60px;
  margin-bottom: 60px;
  margin-left:  auto;
  margin-right: auto;
  max-width: 800px;
}

section#csv-instructions > div > * {
  flex-grow: 1;
  width: 100px;
  opacity: 0;
  transition: 1s opacity, 1s transform;
}
section#csv-instructions > div > span {
  margin-right: 40px;
  text-align: right;
  transform: translate(-200px);
}
section#csv-instructions > div img {
  max-width: 100%;
  height: auto;
}
section#csv-instructions > div > p {
  margin-left: 40px;
  transform: translate(200px);
}
section#csv-instructions > div.visible > * {
  opacity: 1;
  transform: translate(0);
}

section#security-information {
  background: var(--rhubarb);
  color: white;
  height: auto;
  min-height: auto;
}
section#security-information > * {
  max-width: 450px;
  margin-left:  auto;
  margin-right: auto;
}
section#security-information a {
  display: inline-block;
  line-height: 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background: no-repeat right / 12px 20px url('data:image/svg+xml;utf8,<svg width="12" height="20" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" d="M2,2 L10,10 L2,18"/></svg>');
  padding-right: 22px;
}
section#security-information a:hover {
  text-decoration: underline;
}

section#disclaimer {
  background: var(--sand);
  color: white;
  height: auto;
  min-height: auto;
}
section#disclaimer > * {
  max-width: 450px;
  margin-left:  auto;
  margin-right: auto;
}

@media (min-width: 1450px) {
  #landing-page header {
    padding-left:  calc((100vw - var(--max-header-width)) / 2);
    padding-right: calc((100vw - var(--max-header-width)) / 2);
  }
}
@media (max-width: 750px) {
  #landing-page header {
    padding-left:  30px;
    padding-right: 30px;
  }
  #landing-page header h1 {
    font-size: 0;
  }
  #landing-page header h1::before {
    content: 'TE';
    font-size: 25px;
  }
  #landing-page header button {
    min-width: auto;
    padding-left:  10px;
    padding-right: 10px;
  }
  #landing-page section {
    height: auto;
    min-height: auto;
  }
  section#preview img[src="screenshot.png"] {
    width: 100%;
  }
}

/*#open-file-screen.dragging-file-over {
  box-shadow: inset 0 0 20px 9px rgba(54, 161, 139, 0.6);
}*/
/*#open-file-screen.dragging-file-over * {
  pointer-events: none;
}
#open-file-screen :not(.drag-drop) {
  transition: 0.5s opacity;
}
#open-file-screen.dragging-file-over :not(.drag-drop) {
  opacity: 0.1;
}
#open-file-screen.dragging-file-over .file-options {
  opacity: 1;
}*/
/*#open-file-screen .drag-drop {
  font-size: 22px;
  text-align: center;
}*/
