html {
  font-family: sans-serif;
  --teal: #36a18b;
  --teal-highlight: #40bfa5;
  --rhubarb: #cc7d7a;
  --sand: #cda15e;
  --ocean: #286778;
  --secondary-petrol: #c8d7e5;
}
body {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}
button::-moz-focus-inner {
  border: 0;
}
button:focus {
  outline: none;
}

#app {
  display: none;
}
#app.loaded {
  position: fixed;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

#splitter {
  height: 15px;
  flex-shrink: 0;
  flex-grow:   0;
  cursor: ns-resize;
  background: no-repeat center / contain url('data:image/svg+xml;utf8,<svg width="70" height="40" viewBox="0 0 18.5 10.6" xmlns="http://www.w3.org/2000/svg"><g fill="none" stroke="black" stroke-linecap="round" stroke-width="1.8"><path d="M1 3.5h16.5M1 6.9h16.5"/></g></svg>');
}
#splitter:hover {
  background-color: #ddd;
}
