html {
  font-family: sans-serif;
  --teal: #36a18b;
  --teal-highlight: #40bfa5;
  --rhubarb: #cc7d7a;
  --sand: #cda15e;
  --ocean: #286778;
  --secondary-petrol: #c8d7e5;
}
body {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: var(--teal);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
button::-moz-focus-inner {
  border: 0;
}
button:focus {
  outline: none;
}

input[type='file'] {
  display: none;
}

#app {
  position: fixed;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  --app-header-height: 50px;
  padding-top: var(--app-header-height);
  --split-ratio: .5;
  --splitter-height: 20px;
  display: flex;
  flex-direction: column;
}
#app:not(.loaded) {
  display: none;
}

#app header {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: var(--app-header-height);
  padding-left:  20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  contain: strict;
}
#app header h1 {
  font-size: 20px;
  padding-left: 45px;
  margin: 0;
  line-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 1;
  background: no-repeat left / 35px url('data:image/svg+xml,\
    <svg viewBox="0 0 16.9 16.9" xmlns="http://www.w3.org/2000/svg">\
      <path fill="black" d="M6.2.5L2.8 3.8V15c0 .9.7 1.6 1.6 1.6h8.1c1 0 1.6-.7 1.6-1.6V2c0-.8-.7-1.5-1.6-1.5H6.2z"/>\
      <path stroke="white" stroke-linecap="round" stroke-width="1.1" fill="none" d="M5.5 6.4h6M5.5 8.7h6M5.5 10.9h6M5.5 13.2h6"/>\
      <path fill="white" d="M6.2.3v3.2c0 .2-.1.3-.3.3H2.7v1h3.2c.8 0 1.4-.6 1.4-1.3V.3z"/>\
    </svg>\
  ');
}
#app header .spacer {
  min-width: 8px;
  width: 30px;
  flex-shrink: 5;
}
#app header .last-updated {
  display: flex;
  align-items: center;
  margin-right: 15px;
  flex-shrink: 0;
}
#app header .last-updated label {
  padding-right: 12px;
  font-size: 14px;
}
#app header .last-updated .date {
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
#app header .last-updated .time-since {
  text-align: center;
  font-size: 14px;
}

#app #timeline {
  --max-timeline-height: calc(100vh - var(--app-header-height) - var(--splitter-height) - 5px);
  height: calc(var(--max-timeline-height) * var(--split-ratio));
}

#app button {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
}
#app button:hover {
  background-color: var(--teal-highlight);
}
#app button:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

#splitter {
  height: var(--splitter-height);
  margin: 2px;
  margin-left:  4px;
  margin-right: 4px;
  flex-shrink: 0;
  flex-grow:   0;
  cursor: ns-resize;
  touch-action: none; /* Prevent built-in action from overriding pointer event handler */
  background: no-repeat center / 36px 7px url('data:image/svg+xml,\
    <svg viewBox="0 0 12 2" fill="%2336a18b" xmlns="http://www.w3.org/2000/svg">\
      <circle cx="3" cy="1" r="1"/>\
      <circle cx="6" cy="1" r="1"/>\
      <circle cx="9" cy="1" r="1"/>\
    </svg>\
  ');
  position: relative;
}
#splitter::before,
#splitter::after {
  content: '';
  background: var(--teal);
  position: absolute;
  top:    7px;
  bottom: 7px;
  border-radius: 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}
#splitter::before { left:  0; right: calc(50% + 16px); }
#splitter::after  { right: 0; left:  calc(50% + 16px); }
#splitter:hover {
  background-image: url('data:image/svg+xml,\
    <svg viewBox="0 0 12 2" fill="%2340bfa5" xmlns="http://www.w3.org/2000/svg">\
      <circle cx="3" cy="1" r="1"/>\
      <circle cx="6" cy="1" r="1"/>\
      <circle cx="9" cy="1" r="1"/>\
    </svg>\
  ');
}
#splitter:hover::before,
#splitter:hover::after {
  background-color: var(--teal-highlight);
}
