html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
}

#open-file-screen {
  position: fixed;
  left:   0;
  top:    0;
  right:  0;
  bottom: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:     center;
}
#open-file-screen h1 {
  text-align: center;
}
#open-file-screen button {
  background: #36a18b;
  color: white;
  padding: 10px;
  padding-left:  30px;
  padding-right: 30px;
  border-radius: 6px;
  font-size: 18px;
}
#open-file-screen input[type='file'] {
  display: none;
}

#timeline {
  height: 200px;
  width: 100%;
  flex-shrink: 0;
  padding: 5px;
  box-sizing: border-box;
  cursor: hand;
}
#timeline-group {
  pointer-events: none;
}
#timeline-months {
  fill: rgba(176, 199, 255, 0.5);
  stroke: none;
}
#timeline-years {
  fill: #d2e7ff;
  stroke: black;
  stroke-width: 1px;
}
#timeline-balance {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  transform: scaleY(-1) translateY(-1px);
}
#filtered-transaction-markers {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}
#timeline-hovered-transaction-marker {
  fill: none;
  stroke: #009a27;
  stroke-width: 1px;
  transform: scaleY(-1) translateY(-1px);
}

.table-container {
  overflow: auto;
}

table {
  width: 100%;
}

th {
  position: sticky;
  background: orange;
  white-space: nowrap;
  outline: 2px solid white;
  text-overflow: ellipsis;
  overflow: hidden;
}
tr.field-names th { top:    2px; }
tr.filters     th { top:   25px; }
tr.totals      th { bottom: 2px; }

tr.field-names th {
  white-space: nowrap;
}

tbody tr          { background: #ddd; }
tbody tr:hover    { background: #bbb; color: white; }
tbody tr.selected { background: #acd0ff; }

td {
  vertical-align: top;
}

td.date           { font-family: monospace; font-size: 1.2em; }
td.account-number { font-family: monospace; font-size: 1.2em; }
td.decimal        { font-family: monospace; font-size: 1.2em; }
td.currency-code  { font-family: monospace; font-size: 1.2em; }

table .euro          { max-width:  95px; }
table .currency      { max-width:  95px; }
table .date          { max-width: 100px; }
table .currency-code { max-width:  35px; }
table .decimal       { max-width:  80px; }

td.euro,
td.currency,
tfoot th.euro,
tfoot th.currency {
  text-align: right;
  font-family: monospace;
  font-size: 1.2em;
}
td.euro.positive-number {
  color: green;
  font-weight: bold;
}

tr.filters input {
  width: -webkit-fill-available;
  width: -moz-available;
  box-sizing: border-box;
}
tr.filters button {
  position: absolute;
  right: 2px;
  width: 25px;
  top:    2px;
  bottom: 2px;
  background: no-repeat center / 70% white url('data:image/svg+xml;utf8,<svg width="64" height="64" version="1.1" viewBox="0 0 16.93 16.93" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 -280.1)" fill="none" stroke="black" stroke-linecap="round" stroke-width="2.117"><circle cx="5.897" cy="286.1" r="4.46"/><path d="m9.388 289.4 6.014 6.014"/></g></svg>');
}
