html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
}
button::-moz-focus-inner {
  border: 0;
}

#open-file-screen {
  position: fixed;
  width:  100%;
  height: 100%;
  box-sizing: border-box;
  padding: 15px;
  z-index: 1;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  box-shadow: none;
  transition: 0.5s box-shadow;
}
#open-file-screen h1 {
  text-align: center;
}
#open-file-screen.dragging-file-over {
  box-shadow: inset 0 0 20px 9px rgba(54, 161, 139, 0.6);
}
#open-file-screen .file-options {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:     center;
  padding-top:    40px;
  padding-bottom: 40px;
}
#open-file-screen.dragging-file-over * {
  pointer-events: none;
}
#open-file-screen :not(.drag-drop) {
  transition: 0.5s opacity;
}
#open-file-screen.dragging-file-over :not(.drag-drop) {
  opacity: 0.1;
}
#open-file-screen.dragging-file-over .file-options {
  opacity: 1;
}
#open-file-screen .file-options .separator {
  font-style: italic;
  position: relative;
  color: #666;
  margin-top:    20px;
  margin-bottom: 20px;
}
#open-file-screen .file-options .separator::before {
  content: '';
  position: absolute;
  top: calc(55%);
  right: calc(100% + 5px);
  height: 1px;
  width: 20px;
  background: #666;
}
#open-file-screen .file-options .separator::after {
  content: '';
  position: absolute;
  top: calc(55%);
  left: calc(100% + 5px);
  height: 1px;
  width: 20px;
  background: #666;
}
#open-file-screen .drag-drop {
  font-size: 22px;
  text-align: center;
}
#open-file-screen button {
  background: #36a18b;
  color: white;
  font-weight: bold;
  width: 250px;
  padding: 10px;
  padding-left:  30px;
  padding-right: 30px;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: 2px 3px 8px #00000061;
  outline: none;
  position: relative;
}
#open-file-screen button:hover {
  background: #40c1a7;
}
#open-file-screen button:focus::before {
  content: '';
  position: absolute;
  left:   -3px;
  top:    -3px;
  right:  -3px;
  bottom: -3px;
  border: 2px solid #36a18b;
  border-radius: 8px;
}
#open-file-screen button:active {
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 5px #00000061;
}
#open-file-screen input[type='file'] {
  display: none;
}
