#table-container {
  overflow: auto;
}

#table-container::-webkit-scrollbar {
  width: 16px;
  background: transparent;
}
#table-container::-webkit-scrollbar-thumb {
  background: var(--teal);
  border: 2px solid white;
  border-radius: 8px;
}
#table-container::-webkit-scrollbar-thumb:hover {
  background: var(--teal-highlight);
}

#table-container table {
  width: 100%;
}

th {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  white-space: nowrap;
  background: white;
  outline: 2px solid white;
  text-overflow: ellipsis;
  overflow: hidden;
}
tr.field-names th { top:    2px; }
tr.filters     th { top:   25px; }
tr.totals      th { bottom: 2px; }

tr.field-names th {
  white-space: nowrap;
}

tbody tr          { background: #ddd; }
tbody tr:hover,
tbody tr.hover    { background: var(--ocean); }
tbody tr.selected { background: #acd0ff; }

tbody tr:hover td,
tbody tr.hover td  { color: white !important; }

td {
  vertical-align: top;
}

td.date           { font-family: monospace; font-size: 1.2em; }
td.account-number { font-family: monospace; font-size: 1.2em; }
td.decimal        { font-family: monospace; font-size: 1.2em; }
td.currency-code  { font-family: monospace; font-size: 1.2em; }

table .euro          { max-width:  95px; }
table .currency      { max-width:  95px; }
table .date          { max-width: 100px; }
table .currency-code { max-width:  35px; }
table .decimal       { max-width:  80px; }

td.euro,
td.currency,
tfoot th.euro,
tfoot th.currency {
  text-align: right;
  font-family: monospace;
  font-size: 1.2em;
}
td.euro.positive-number {
  color: green;
  font-weight: bold;
}

tr.filters input {
  width: -webkit-fill-available;
  width: -moz-available;
  box-sizing: border-box;
  border: 2px solid rgb(245, 245, 245);
  background: rgb(245, 245, 245);
  border-radius: 4px;
  height: 24px;
  padding-left:  4px;
  padding-right: 4px;
}
tr.filters input:focus {
  border-color: var(--teal);
  outline: none;
}
tr.filters th:not(.filter-active)::after {
  content: '';
  position: absolute;
  right: 2px;
  width: 25px;
  top:    2px;
  bottom: 2px;
  background: no-repeat center / 70% url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 16.93 16.93" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 -280.1)" fill="none" stroke="black" stroke-linecap="round" stroke-width="1.5"><circle cx="5.897" cy="286.1" r="4.46"/><path d="m9.388 289.4 6.014 6.014"/></g></svg>');
  pointer-events: none;
}
tr.filters .clear-button {
  display: none;
}
tr.filters th.filter-active .clear-button {
  display: block;
  position: absolute;
  right: 2px;
  width: 20px;
  top:    2px;
  bottom: 2px;
  border-top-right-radius:    4px;
  border-bottom-right-radius: 4px;
  background: no-repeat center / 60% url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 16.93 16.93" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 -280.1)" fill="none" stroke="%2336a18b" stroke-linecap="round" stroke-width="3"><path d="m1.729 281.8 13.47 13.49"/><path d="m1.721 295.3 13.49-13.47"/></g></svg>');
}
tr.filters th.filter-active .clear-button:hover {
  background-color: var(--teal);
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" viewBox="0 0 16.93 16.93" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 -280.1)" fill="none" stroke="white" stroke-linecap="round" stroke-width="3"><path d="m1.729 281.8 13.47 13.49"/><path d="m1.721 295.3 13.49-13.47"/></g></svg>');
}
